.e-inicio, .e-link, .e-insta, .e-github, .e-email, .e-fundo, .e-social {
	visibility: hidden;
}

.e-py, .e-sql, .e-bi, .e-aws, .e-ex, .e-jupy, .e-git, .e-js {
	visibility: hidden;
}

.e-pro, .grade2{
	visibility: hidden;
}

.data, .auto, .dash, .var {
	visibility: visible;
}

.e-sobre, .time{
	visibility: hidden;
}