@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: #d6d6d6;
}

.menu {
    max-width: 1680px;
    margin: 0 auto;
}

header {
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 100;
    background-size: cover;
    background-color: #0000003f;
    background: rgb(140,148,161);
    background: radial-gradient(circle, rgba(140,148,161,1) 52%, rgba(73,85,105,1) 100%);
    backdrop-filter: blur(10px);
}

header > .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btncontato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.logo img {
    width: 60px; /* Substitua 100px pelo valor desejado */
}



.navbar a{
    font-size: 1.7rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: black;
}

.btn-abrirmenu {
    display: none;
    font-size: 35px;
    position: fixed;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    right: 20px; /* Ajuste a distância da direita conforme necessário */
    z-index: 100; /* Garante que o botão fique acima de outros elementos */
}


.menu-mobile{
    background: rgb(140,148,161);
    background: radial-gradient(circle, rgba(140,148,161,1) 52%, rgba(73,85,105,1) 100%);
    backdrop-filter: blur(10px);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    transition: .6s;
}

.menu-mobile.abrirmenu-mobile {
    width: 70%;
}

.menu-mobile.abrirmenu-mobile ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: #000000;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}
.menu-mobile nav ul li:hover{
    background-color: #ffffff3f;
    backdrop-filter: blur(10px);
}

.menu-mobile nav ul li {
    list-style-type: none;
    padding: 20px 0; 
    margin: 10px 0;  
    padding-right: 20px; 
    margin-right: 10px;
}

.overlay-menu {
    background-color: #0000006c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.inicio {
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center center;
    transition: .3s;
    position: relative; 
}


.fundo {
    position: absolute;
    top: 60%;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: .3s;
    background: url('/images/Estudando.PNG') no-repeat;
    background-size: contain;
    margin-top: -500px; /* Move a imagem para baixo */
    margin-right: 20px; /* Move a imagem para a direita */
    transition-property: background;
    transition: .5s;
    transition-timing-function: ease-out;
}

.fundo:hover {
    position: absolute;
    top: 70%;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: .3s;
    background: url('/images/joinha.PNG') no-repeat;
    background-size: contain;
    margin-top: -500px; /* Move a imagem para baixo */
    margin-right: 20px; /* Move a imagem para a direita */
    transition: .5s;
}

.cont-inicio {
    max-width: 50rem;
    margin-top: 150px;
    text-align: left; /* Centralizar o texto horizontalmente */
    position: relative; /* Adicionar posicionamento relativo para o alinhamento vertical */
}


.cont-inicio .nome{
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 1  ;
    margin: 0;
    position: relative;
    top: -100px;
}

.ola {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    top: -100px;
    margin: 0; /* Remover margens para ajustar melhor o posicionamento vertical */
}

.cont-inicio h2{
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 1  ;
    margin-top: -10px;
    position: relative;
    top: -100px;
}

.cont-inicio p {
    position: relative;
    top: -100px;
}

.cont-inicio .animacao1{
    position: relative;
    top: -100px;
    font-size: 25px;
    position: relative;
    width: 24ch;
    white-space: nowrap;
}

.cont-inicio p {
    font-size: 20px;
}


.sociais {
    position: absolute;
    bottom: 4rem;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}

.sociais a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: .3rem solid black;
    border-radius: 50%;
    font-size: 40px;
    color: black;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.sociais a:hover{
    color: #FFFFFF;
}

.sociais a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.sociais a:hover::before{
    width: 100%;
}


.minhasskl {
    text-align: center; /* Centralizar o texto */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: -30px;

}

.minhasskl h2{
    font-size: 36px;
}


.skills {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column; /* Alterado para organizar o conteúdo em coluna */
    height: 100vh;
    margin: 20px 0;
    position: relative;

}



.grade {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas */
    grid-template-rows: repeat(2, 1fr); /* Duas linhas */
    gap: 100px; /* Espaçamento entre os quadrados */
    transform-style: preserve-3d;
    margin-top: -30px;
}

.quadrado {
    width: 200px; /* Largura do quadrado */
    height: 200px; /* Altura do quadrado */
    padding: 20px;
    background-color: #ccc; /* Cor de fundo do quadrado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 45px; /* Reduzi o raio para que os quadrados não fiquem muito arredondados */
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(73,85,105,1) 100%);    
    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.997); /* Sombra do cartão */
}


.quadrado img {
    max-width: 100%; /* Para garantir que a imagem não ultrapasse o tamanho do quadrado */
    max-height: 100%; /* Para garantir que a imagem não ultrapasse o tamanho do quadrado */
    transform-style: preserve-3d;
    transition: 0.5s; /* Adicionei 's' no final para especificar a unidade de tempo */
}     

.quadrado:hover img {
    transform: translate3d(0,0,100px);
} 



.tituloprojetos {
    text-align: center; /* Centralizar o texto */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: 0%;

}

.tituloprojetos h2{
    font-size: 36px;
}

.grade2 {
    display: flex;
    gap: 150px; /* Espaçamento entre os quadrados */
    align-items: center;
    justify-content: center;
}

.card {
    width: 250px; /* Largura do quadrado */
    height: 550px; /* Altura do quadrado */
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.997); /* Sombra do cartão */
    transform-style: preserve-3d;
}

.card:hover {
    transform: scale(1.1); /* Aumenta o tamanho do cartão em 5% */
    box-shadow: 0 8px 16px rgb(0, 0, 0); /* Aumenta a sombra no hover */
}

.data {
    background-image: url('/images/data.png'), 
    radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(73,85,105,1) 100%);
    background-size: cover, cover; /* Tamanho da imagem de fundo */
    background-position: center, center; /* Posição da imagem de fundo */
    background-repeat: no-repeat, no-repeat; /* Não repetir a imagem de fundo */
}



.auto {
    background-image: url('/images/auto.png'), 
    radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(73,85,105,1) 100%);
    background-size: cover, cover; /* Tamanho da imagem de fundo */
    background-position: center, center; /* Posição da imagem de fundo */
    background-repeat: no-repeat, no-repeat; /* Não repetir a imagem de fundo */
}

.dash {
    background-image: url('/images/ia.png'), 
    radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(73,85,105,1) 100%);
    background-size: cover, cover; /* Tamanho da imagem de fundo */
    background-position: center, center; /* Posição da imagem de fundo */
    background-repeat: no-repeat, no-repeat; /* Não repetir a imagem de fundo */
}

.var {
    background-image: url('/images/var.png'), 
    radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(73,85,105,1) 100%);
    background-size: cover, cover; /* Tamanho da imagem de fundo */
    background-position: center, center; /* Posição da imagem de fundo */
    background-repeat: no-repeat, no-repeat; /* Não repetir a imagem de fundo */
    transform-style: preserve-3d;
}

.cont {
    width: 250px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.cont h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.data h2 {
    font-size: 20px;
}


.cont button {
    background-color: #000000;
    color: #fcfcfc; /* Cor do texto do botão */
    border: none; /* Cor da borda do botão */
    padding: 5px 10px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-weight: 700;
    border-radius: 40px; /* Raio da borda do botão */
    cursor: pointer; /* Cursor ao passar o mouse sobre o botão */
    z-index: 1;
}

.janela{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #00000061;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.modal{
    width: 30%;
    min-width: 450px;
    min-height: 750px;
    background-color: #ffffff3f;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    z-index: 88888;
}

.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: black;
    color: #fff;
    font-size: 20px;
}


.janela.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0,-20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.abrir .modal{
    animation: abrirmodal 0.5s;
}

.modal h1{
    font-size: 40px;
}

.modal h2{
    font-size: 25px;
}

.modal p{
    font-size: 15px;
}

.modal h3{
    font-size: 25px;
}

.modal h4{
    font-size: 15px;
}

.janela2{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #00000061;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.modal2{
    width: 90%;
    min-width: 450px;
    min-height: 750px;
    background-color: #ffffff3f;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    z-index: 2;
}

.fechar2{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: black;
    color: #fff;
    font-size: 20px;
}

.janela2.abrir2{
    display:flex;
}

@keyframes abrirmodal2 {
    from{
        opacity: 0;
        transform: translate3d(0,-20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.abrir2 .modal2{
    animation: abrirmodal2 0.5s;
}

.modal2 h1{
    font-size: 40px;
}

.modal2 h2{
    font-size: 25px;
}

.modal2 p{
    font-size: 15px;
}

.modal2 h3{
    font-size: 25px;
}

.modal2 h4{
    font-size: 15px;
}

.modal-aberto {
    overflow: hidden;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    flex: 0 0 calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
}

.description {
    flex-grow: 1;
    height: 253px; /* Defina a altura fixa desejada */
    overflow: auto; /* Adicione rolagem se o conteúdo exceder a altura */
    margin-left: 20px;
}

.grid-item img {
    width: 450px; /* largura desejada */
    height: auto; /* altura automática para manter a proporção */
    max-width: 100%;
}

.grid-item h3 {
    font-size: 10px;
}

.grid-item h4 {
    font-size: 10px;
}

.buttons {
    margin-top: 10px;
}

.buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
}

.buttons button:hover {
    background-color: #585858;
}

.titulosobre {
    text-align: center; /* Centralizar o texto */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: 0%;

}

.titulosobre h2{
    font-size: 36px;
}


.time{
    background-color: #d6d6d6;
    padding: 0;
    margin: 0;
    font-family: arial;
    background-color: #d6d6d6;
    }
    ul#time-line{
        padding: 50px 0;
        margin: 0;
        list-style-type: none;
        position: relative;
        overflow: hidden;
    }
    ul#time-line:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 5px;
        border-radius: 20px;
        background: #303030;
        left: 0;
        right: 0;
        top: 0;
        pointer-events: none;
        margin: auto;
    }
    ul#time-line li{
        width: 50%;
        margin-left: auto;
        text-align: left;
        transition: all cubic-bezier(0.68,0.55,0.265,1.55) .5s;
        transform: rotateX(90deg);
    }
    ul#time-line li:nth-child(2n){
        margin-left: 0;
        margin-right: auto;
        text-align: right;
    }
    ul#time-line li div{
        width: 70%;
        display: inline-block;
        background: rgb(140,148,161);
        background: radial-gradient(circle, rgba(140,148,161,1) 52%, rgba(73,85,105,1) 100%);           
        padding: 30px;
        margin: 20px;
        border-radius: 30px;	
        position: relative;
        color: #fff;
    }
    ul#time-line li div:after{
        content: '';
        position: absolute;
        left: auto;
        right: 100%;
        top: 45%;
        border: solid 10px;
        border-color: transparent #303030 transparent transparent;
    }
    ul#time-line li div:before{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: #303030;
        border-radius: 50%;
        left: -30px;
        top: 45%;
    }
    ul#time-line li:nth-child(2n) div:before{
        right: -30px;
        left: auto;
    }
    ul#time-line li:nth-child(2n) div:after{
        left: 100%;
        right: auto;
        border-color: transparent transparent transparent #303030;
    }
    ul#time-line li.visibility {
        transform: rotateX(0deg) perspective(360px);
    }

.titulocontato {
    text-align: center; /* Centralizar o texto */
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px; /* Espaçamento inferior */
    margin-top: 0%;
}

.contato h2{
    font-size: 36px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input {
    width: 100%;
    background: rgb(140,148,161);
    background: radial-gradient(circle, rgba(140,148,161,1) 52%, rgba(73,85,105,1) 100%);  
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 18px;
}

form textarea {
    width: 100%;
    height: 200px;
    background: rgb(140, 148, 161);
    background: radial-gradient(circle, rgba(140,148,161,1) 52%, rgba(73,85,105,1) 100%);
    border: 0;
    outline: 0;
    padding: 15px; /* Reduzido de 80px para 15px */
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 18px;
}


form input::placeholder{
    color: #FFFFFF;
}
form textarea::placeholder{
    color: #FFFFFF;
}

form textarea {
    resize: none;
}

form .btnenviar {
    margin-top: 25px;
    text-align: center;
}

form .btnenviar input{
    width: 120px;
    font-weight: 700;
    cursor: pointer;
    background: rgb(0, 0, 0);
    transition: .2s; 
} 

form .btnenviar input:hover{
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    transform: scale(1.05);
}

.sucess {
    color: greenyellow;
    text-align: center;
}

.error {
    color: tomato;
    text-align: center;
}

.mensagem-confirmacao {
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 1800px) {
    .grid-item img {
        width: 350px; /* largura desejada */
        height: auto; /* altura automática para manter a proporção */
        max-width: 100%;
    }
}
@media only screen and (max-width: 1650px) {
    .modal2 {
        padding: 20px; /* Ajuste conforme necessário */
        max-width: 80vw; /* Defina a largura máxima para o modal */
        max-height: 100vh; /* Defina a altura máxima para o modal */
    }
    
    .janela2 {
        position: fixed; /* Mantenha o modal fixo na tela */
        z-index: 1000; /* Certifique-se de que o modal esteja acima de outros elementos */
    }
    
    .grid-item img {
        width: 250px; /* largura desejada */
        height: auto; /* altura automática para manter a proporção */
        max-width: 100%;
    }
    
    .grid-item h2{
        font-size: 20px;
    }
    .grid-item p{
        font-size: 14px;
    }
    .description {
        flex-grow: 1;
        height: 200px; /* Defina a altura fixa desejada */
        overflow: auto; /* Adicione rolagem se o conteúdo exceder a altura */
        margin-left: 20px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de largura igual */
        justify-content: center; /* Centraliza a grade horizontalmente dentro do modal */
        align-items: start; /* Alinha os itens ao topo do container */
    }
    
    .grid-item {
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        justify-content: center;
    }
}
@media only screen and (max-width: 1480px) {
    .cont-inicio {
        max-width: 40rem;
    }
    .grade2 {
        gap: 100px; /* Espaçamento entre os quadrados */
    }
    .card {
        width: 200px; /* Largura do quadrado */
        height: 440px; /* Altura do quadrado */
    }
    
}
@media only screen and (max-width: 1244px) {
    .cont-inicio {
        max-width: 30rem;
    }
}
@media only screen and (max-width: 1280px) {
    header nav ul li {
        display: inline-block;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 1150px) {
    header nav ul li {
        display: inline-block;
        padding: 0 5px;
    }
    .minhasskl {
        margin-top: -65px;
        margin-bottom: -15px;
    }
    .grade {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas no mobile */
        gap: 25px;
    }

    .quadrado {
        width: 150px;
        height: 150px;
    }
    .grade2 {
        gap: 70px; /* Espaçamento entre os quadrados */
    }
    .card {
        width: 150px; /* Largura do quadrado */
        height: 330px; /* Altura do quadrado */
    }
    .cont {
        text-align: center; /* Centraliza o texto */
    }
    .cont button{
        font-size: 12px;
    }
    .cont h2{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1000px) {
    header nav ul li {
        display: inline-block;
        padding: 0 ;
    }
    .cont-inicio {
        margin-top: 100px;
    }
    
    
    .cont-inicio .nome{
        font-size: 3.6rem;
    }
    
    .ola {
        font-size: 15px;
    }
    
    .cont-inicio h2{
        font-size: 3.6rem;
    }
    
    .cont-inicio .animacao1{
        font-size: 20px;
    }
    
    .cont-inicio p {
        font-size: 20px;
    }
    .navbar a{
        font-size: 1rem;
        color: #ffffff;
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
    }
    .fundo {
        position: absolute;
        top: 70%;
        right: 0;
        width: 40%;
        height: 50%;
        background: transparent;
        transition: .3s;
        background: url('/images/Estudando.PNG') no-repeat;
        background-size: contain;
        margin-top: -500px; /* Move a imagem para baixo */
        transition-property: background;
        transition: .5s;
        transition-timing-function: ease-out;
    }
    
    .fundo:hover {
        position: absolute;
        top: 70%;
        right: 0;
        width: 45%;
        height: 100%;
        background: transparent;
        transition: .3s;
        background: url('/images/joinha.PNG') no-repeat;
        background-size: contain;
        margin-top: -500px; /* Move a imagem para baixo */
        margin-right: 20px; /* Move a imagem para a direita */
        transition: .5s;
    }
    .grid-item h2{
        font-size: 16px;
    }
    .grid-item p{
        font-size: 12px;
    }
}


@media only screen and (max-width: 768px) {

    .btn-abrirmenu {
        display: block;
    }

    .btncontato{
        display: none;
    }
    
    .fundo{
        display: none;
    }

    .navbar {
        display: none;
    }

    .cont-inicio {
        margin-top: 100px;
    }
    
    
    .cont-inicio .nome{
        font-size: 3.6rem;
    }
    
    .ola {
        font-size: 15px;
    }
    
    .cont-inicio h2{
        font-size: 3.6rem;
    }
    
    .cont-inicio .animacao1{
        font-size: 20px;
    }
    
    .cont-inicio p {
        font-size: 20px;
    }

    .menu {
        max-width: 100%;
    }

    .minhasskl {
        margin-top: -65px;
        margin-bottom: -15px;
    }
    .grade {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas no mobile */
        gap: 25px;
    }

    .quadrado {
        width: 130px;
        height: 130px;
    }
--------------------------------------------------------
    .tituloprojetos h2 {
        font-size: 28px; /* Reduz o tamanho da fonte */
    }

    .grade2 {
        flex-direction: column; /* Altera a direção do layout flexível para coluna */
        gap: 20px; /* Reduz o espaçamento entre os quadrados */
    }

    .card {
        width: 100%; /* Ajusta a largura para 100% da tela */
        height: auto; /* Ajusta a altura automaticamente */
        padding: 10px; /* Reduz o padding */
        margin: 0 auto; /* Centraliza os cartões */
    }
    .cont {
        width: 100%;
        height: auto; /* Ajusta a altura automaticamente */
        text-align: center; /* Centraliza o texto */
    }
    .card h2 {
        font-size: 20px; /* Reduz o tamanho da fonte do título */
    }

    .cont h2 {
        font-size: 20px; /* Reduz o tamanho da fonte */
    }

    .cont button {
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
        padding: 10px 20px; /* Ajusta o padding do botão */
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* Cria uma única coluna */
        gap: 20px; /* Espaço entre os itens */
        justify-content: center; /* Centraliza a coluna horizontalmente dentro do modal */
    }
    .grid-item {
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        justify-content: center;
    }

    .grid-item img {
        display: none; /* Oculta as imagens */
    }
    .description {
        flex-grow: 1;
        height: auto; /* Ajusta a altura automaticamente */
        overflow: hidden; /* Remove a rolagem, se não for mais necessário */
        margin-left: 0; /* Remove a margem esquerda */
    }

    .modal {
        width: 95%; /* Ajusta a largura do modal para 95% da tela */
        min-width: auto; /* Remove a largura mínima */
        min-height: auto; /* Remove a altura mínima */
        padding: 20px; /* Reduz o padding do modal */
        max-width: 80vw; /* Defina a largura máxima para o modal */
        max-height: 80vh; /* Defina a altura máxima para o modal */
        overflow: auto; /* Adicione rolagem se o conteúdo exceder o modal */
    }
    .modal2 {
        width: 95%; /* Ajusta a largura do modal para 95% da tela */
        min-width: auto; /* Remove a largura mínima */
        min-height: auto; /* Remove a altura mínima */
        padding: 20px; /* Reduz o padding do modal */
        max-width: 80vw; /* Defina a largura máxima para o modal */
        max-height: 80vh; /* Defina a altura máxima para o modal */
        overflow: auto; /* Adicione rolagem se o conteúdo exceder o modal */
    }

    .modal2 h1 {
        font-size: 30px; /* Reduz o tamanho da fonte do título */
    }

    .modal2 h2 {
        font-size: 20px; /* Reduz o tamanho da fonte do subtítulo */
    }

    .modal2 p {
        font-size: 14px; /* Reduz o tamanho da fonte do parágrafo */
    }

    .modal2 h3 {
        font-size: 20px; /* Reduz o tamanho da fonte do título secundário */
    }

    .modal2 h4 {
        font-size: 12px; /* Reduz o tamanho da fonte do subtítulo secundário */
    }

    .fechar {
        width: 25px; /* Reduz o tamanho do botão de fechar */
        height: 25px;
        font-size: 16px; /* Reduz o tamanho da fonte do botão de fechar */
    }
    .fechar2 {
        width: 25px; /* Reduz o tamanho do botão de fechar */
        height: 25px;
        font-size: 16px; /* Reduz o tamanho da fonte do botão de fechar */
    }
------------------------------------------------------
    .time {
        background-color: #d6d6d6;
        padding: 0;
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
    
    ul#time-line li div {
        width: 85%; /* Ajuste conforme necessário */
        padding: 10px; /* Ajuste conforme necessário */
        box-sizing: border-box; /* Inclui padding e border nas dimensões totais */
        overflow: hidden; /* Garante que o texto não ultrapasse a div */
    }
    
}